creating new instance of Settings Config
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 00

CREATE TABLE public.transcript_details_t (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
    transcription_id INTEGER, 
    section_id INTEGER, 
    speaker VARCHAR(200), 
    begin_timestamp VARCHAR(50), 
    end_timestamp VARCHAR(50), 
    original_text TEXT, 
    edited_text TEXT, 
    is_active INTEGER NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE public.users_t (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
    unique_id VARCHAR(50), 
    user_email VARCHAR(215), 
    user_name VARCHAR(200), 
    first_name VARCHAR(200), 
    last_name VARCHAR(100), 
    display_name VARCHAR(200), 
    created TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    created_by INTEGER NOT NULL, 
    modified TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    modified_by INTEGER NOT NULL, 
    active INTEGER NOT NULL, 
    PRIMARY KEY (id)
);

INSERT INTO alembic_version (version_num) VALUES ('00') RETURNING alembic_version.version_num;

-- Running upgrade 00 -> 01

ALTER TABLE public.transcript_details_t ADD COLUMN tags TEXT;

UPDATE alembic_version SET version_num='01' WHERE alembic_version.version_num = '00';

-- Running upgrade 01 -> 02

CREATE TABLE public.microphone_colors_t (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
    color VARCHAR(50), 
    description TEXT, 
    created TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    created_by INTEGER NOT NULL, 
    modified TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    modified_by INTEGER NOT NULL, 
    active INTEGER NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE public.participants_t (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
    name VARCHAR(200), 
    role VARCHAR(50), 
    description TEXT, 
    join_date TIMESTAMP WITHOUT TIME ZONE, 
    withdrawal_date TIMESTAMP WITHOUT TIME ZONE, 
    "Status" VARCHAR(50), 
    "Number_of_Audio_Files" INTEGER, 
    "Number_of_Videos" INTEGER, 
    created TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    created_by INTEGER NOT NULL, 
    modified TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    modified_by INTEGER NOT NULL, 
    active INTEGER NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE public.transcript_comments_t (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
    transcription_id INTEGER, 
    comment TEXT, 
    created_by INTEGER, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    is_active INTEGER NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE public.transcript_details_comments_t (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
    transcription_id INTEGER, 
    section_id INTEGER, 
    comment TEXT, 
    created_by INTEGER, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    is_active INTEGER NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE public.transcripts_t (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1), 
    unique_id VARCHAR(50), 
    title VARCHAR(200), 
    description TEXT, 
    status VARCHAR(50), 
    microphone_color_id INTEGER, 
    participant_id INTEGER, 
    lesson_number VARCHAR(50), 
    lesson_subject VARCHAR(200), 
    tags TEXT, 
    created TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    created_by INTEGER NOT NULL, 
    modified TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    modified_by INTEGER NOT NULL, 
    active INTEGER NOT NULL, 
    PRIMARY KEY (id)
);

UPDATE alembic_version SET version_num='02' WHERE alembic_version.version_num = '01';

COMMIT;

